.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    /*justify-content: center;*/
    align-items: flex-start;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.sidebar label {
    display: inline-block;
}

.sidebar input[type="radio"] {
    display: none;
}

.sidebar .shapes {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
}

.sidebar .actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-end;
}

.sidebar span {
    cursor: pointer;
    display: inline-block;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    color: black;
}

.sidebar input[type="radio"]:checked + span {
    background-color: lightgray;
    color: black;
}

#myCanvas {
    border: solid;
}
